spring:
  application:
    name: jug-java-user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/jug_users
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

grpc:
  server:
    port: 50051

logging:
  level:
    com.rating.user: DEBUG
    org.hibernate.SQL: DEBUG
